a{
    color: inherit;
    text-decoration: none;
}

#navegacion{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navegacion_tab{
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

#navegacion_tab:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}