#post_preview{
    margin: 1%;
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 5px 7px 9px 0px rgba(0, 0, 0, 0.19);
}

#post_preview:hover{
    cursor: pointer;
    scale: 1.01;
}

#post_image{
    width: 100%;
    height: 70%;
}

#post_description{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

#post_category{
    width: 30%;
    height: 100%;
}

#post_title{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}